MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/prode-futbol
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_de_64_bytes
SPORTSDB_API_KEY=2
PORT=5000
ADMIN_EMAIL=tu@email.com
ADMIN_PASSWORD=password_seguro_del_admin_inicial
CORS_ORIGIN=http://localhost:3000
NODE_ENV=production
